*{
    margin: 0;
    padding: 0;
    font-family:  'Poppins', sans-serif;

}

body{
    height: 100vh;
    width: 100%;
}
.flex-dashboard{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.flex-dashboard header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    background-color: white;
    ;
}   
sidebar{
    display: block;
    height: 100%;
    width: 256px;
    background-color: #ffffff;
    /* margin: 20px; */
    border-right: 1px solid #E5E5E5;
    box-shadow: 6px 0px 18px 0px #000000 6%;

}

main{
    display: block;
    height: 100%;
    background-color: grey;
    width: calc(100% - 256px);

}
header{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    height: 70px;
    background-color: grey;
    padding-bottom: 0 30px;
}
.sidebar-title h1{ 
    display: flex;
    justify-content: center;
    align-content: center; 

    font-size: 18px;
    height: 60px;
    text-decoration-color: #109CF1;
    border-bottom: 1px solid black;
    
}  

.avatar-user{
    display: flex;
    flex-direction: row;
    font-size: 14px;
    padding-bottom: 39px;
    padding-top: 24px;
    border-radius: 50%;
}
.q-user{
     height: 47px;
    width: 62px;
    background-image : url(./imgs/image2.jpg);
    border-radius: 50%;
    margin-right: 9px;
    margin-left: 15px;
}



.sub-avatar-user{
    display: flex;
    flex-direction: column;
    margin-left: 9px;
}
.avatar-user.h3{
    font-size: 11px;
}
.sidebar-menu{
    text-align: center;
    font-size: 13px;

}
ul li{
    font-size: 13px;
    display: flex;
    flex-direction: row;
    align-items: center ;
    list-style-type: none;
    text-align: left;
    border: 1px solid #ffffff;
    width: 100%;
    padding: 10px 0 10px  26px;
}
ul li:hover{
    color: #109CF1;
    lighting-color: #109CF1 ;
}